// StatisticCard.scss

.statistic-div {
  display: flex;
  margin: -15px;
}

.ant-divider {
  margin: 0 15px;
  min-width: 200px;
  width: 100%;
}


.cube-statistic{
  width: 100px;
  height: 100px;
  margin-left: 80px;
}